# Windows junk
Thumbs.db
Desktop.ini

# macOS junk
.DS_Store

# Logs
*.log

# VS Code
.vscode/
.history/

# PowerShell
*.ps1xml
*.pssc

# Bash
*.swp
*.swo

# Node (if you ever add tooling)
node_modules/
